@font-face {
    font-family: "Benzin-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Benzin-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Benzin-Medium";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Benzin-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Benzin-Semibold";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Benzin-Semibold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    position: relative;
    background: #101111;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.containerLayout {
    margin: 0 auto;
    width: 100%;
    max-width: 67.708vw;
    padding: 0 1.852vh;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0.37vh;
}

body::-webkit-scrollbar-track {
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
}

body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 1.852vh;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.32);
    border-radius: 1.852vh;
    opacity: 1;
}

body::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.48);
    border-radius: 1.852vh;
    opacity: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2.593vh;
    width: 25.278vh;
    height: 2.593vh;
}

.ellipses {
    display: inline-flex;
    position: relative;
}

.blueEllipse {
    width: 2.5vh;
    height: 2.5vh;
    position: absolute;
    left: 1.204vh;
}

.blueEllipse circle {
    animation: blueFlash .7s linear infinite;
}

@keyframes blueFlash {
    0% {
        fill-opacity: 0.6;
    }
    50% {
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 0.6;
    }
}

.redEllipse {
    width: 2.5vh;
    height: 2.5vh;
}

.redEllipse circle {
    animation: redFlash .7s linear infinite;
}

@keyframes redFlash {
    0% {
        fill-opacity: 0;
    }
    50% {
        fill-opacity: 0.6;
    }
    100% {
        fill-opacity: 0;
    }
}

.logoText, .logoText img {
    width: 20.463vh;
    height: 1.574vh;
    display: flex;
}

nav {
    display: flex;
    height: 8.889vh;
    justify-content: center;
    align-items: center;
    gap: 3.704vh;
}

nav span {
    color: #FFF;
    font-family: Benzin-Regular;
    font-size: 1.481vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

nav span:hover {
    color: #BBBBBB;
}

nav span:active {
    color: #E0E0E0;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.963vh;
}

.download {
    display: flex;
    padding: 0.926vh 2.778vh;
    align-items: center;
    gap: 0.926vh;
    border-radius: 1.296vh;
    background: #5E4FF1;
    box-sizing: border-box;
}

.download:hover {
    background: #7D77FF;
}

.download:active {
    background: #423DC8;
}

a {
    text-decoration: none;
    display: flex;
}

.download span {
    color: #FFF;
    font-family: Benzin-Regular;
    font-size: 1.667vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social {
    display: flex;
    width: 6.481vh;
    align-items: flex-start;
    gap: 1.296vh;
}

.social img {
    width: 2.593vh;
    height: 2.593vh;
    flex-shrink: 0;
}

.mainInfo {
    display: flex;
    height: 91.111vh;
    flex-direction: column;
    justify-content: center;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.852vh;
    max-width: 54.259vh;
    width: 100%;
}

.userChoiceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userChoice {
    height: 3.519vh;
    border-radius: 0.926vh;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(1.065vh);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.741vh 1.389vh;
    box-sizing: border-box;
    gap: 0.926vh;
}

.userChoiceContent {
    color: #FFF;
    font-family: Benzin-Regular;
    font-size: 1.481vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.trophyIcon {
    width: 1.667vh;
    height: 1.667vh;
}

.userChoiceBackground {
    width: 17.593vh;
    height: 1.759vh;
    background: #5E4FF1;
    position: absolute;
    z-index: -1;
}

.infoTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.389vh;
    align-self: stretch;
    margin-bottom: 2.778vh;
}

.infoTextHeader {
    color: #FFF;
    font-family: Benzin-Medium;
    font-size: 4.444vh;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 52.8px */
    align-items: stretch;
}

.infoTextContent {
    color: rgba(255, 255, 255, 0.80);
    font-family: Benzin-Regular;
    font-size: 1.667vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviews {
    padding: 7.407vh 1.852vh;
    box-sizing: border-box;
}

.reviewsTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.852vh;
    margin-bottom: 8.333vh;
}

.reviewsTextHeader {
    max-width: 78.889vh;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Benzin-Semibold;
    font-size: 3.333vh;
    font-style: normal;
    font-weight: 400;
    line-height: 3.704vh; /* 111.111% */
}

.reviewsTextContent {
    color: #7E8285;
    max-width: 48.704vh;
    width: 100%;
    text-align: center;
    font-family: Benzin-Regular;
    font-size: 1.667vh;
    font-style: normal;
    font-weight: 400;
    line-height: 1.852vh; /* 111.111% */
}

.reviewsContainerInner {
    display: flex;
    justify-content: center;
}

.reviewsContainerWrapper {
    max-width: 120.37vh;
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 3.056vh;
    grid-template-columns: 1fr 1fr;
}

.reviewContainer {
    position: relative;
}

.review {
    display: flex;
    max-width: 58.611vh;
    width: 100%;
    min-height: 30.556vh;
    padding: 2.778vh;
    border-radius: 2.222vh;
    border-top: 0.37vh solid rgba(101, 101, 101, 0.50);
    backdrop-filter: blur(2.778vh);
    box-sizing: border-box;
    background-image: url(assets/reviewBackground.png);
}

.reviewTextContainer {
    display: flex;
    gap: 0.926vh;
    flex-direction: column;
    align-items: flex-start;
}

.quote {
    align-self: stretch;
    color: #FFF;
    font-family: Benzin-Regular;
    font-size: 4.444vh;
    font-style: normal;
    font-weight: 400;
    line-height: 2.593vh; /* 58.333% */
}

.reviewContent {
    align-self: stretch;
    color: #FFF;
    font-family: Benzin-Regular;
    font-size: 1.852vh;
    font-style: normal;
    font-weight: 400;
    line-height: 2.593vh; /* 140% */
}

.reviewAuthor {
    color: #FFF;
    font-family: Benzin-Regular;
    font-size: 1.296vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviewBackground {
    max-width: 58.611vh;
    width: 100%;
    min-height: 30.556vh;
    border-radius: 2.222vh;
    opacity: 0.41;
    background: linear-gradient(137deg, rgba(67, 67, 67, 0.86) -24.05%, rgba(0, 0, 0, 0.00) 115.5%);
    backdrop-filter: blur(2.778vh);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.subscription {
    display: flex;
    padding: 7.407vh 1.852vh;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 8.333vh;
    position: relative;
}

.subscriptionTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4.63vh;
}

.subscriptionTextContainerHeader {
    max-width: 58.704vh;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Benzin-Semibold;
    font-size: 3.333vh;
    font-style: normal;
    font-weight: 400;
    line-height: 3.704vh; /* 111.111% */
}

.gradient {
    background: linear-gradient(180deg, #ECC75C 0%, #F07554 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.MHPlus {
    font-family: Benzin-Semibold;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 111.111% */
}

.benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.926vh;
}

.leftLaurel {
    width: 26.944vh;
    height: 26.759vh;
    position: absolute;
    top: 0;
    left: 0;
}

.rightLaurel {
    width: 26.944vh;
    height: 26.759vh;
    position: absolute;
    top: 0;
    right: 0;
}

.benefitsContainer {
    display: flex;
    padding: 0.926vh 1.389vh;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.926vh;
    border-radius: 0.741vh;
    background: #252525;
}

.benefitsTextContainer {
    display: flex;
    align-items: center;
    gap: 1.019vh;
}

.benefitsText {
    color: #FFF;
    text-align: center;
    font-family: Benzin-Medium;
    font-size: 1.296vh;
    font-style: normal;
    font-weight: 400;
    line-height: 1.667vh; /* 128.571% */
}

.benefitsPercent {
    display: flex;
    padding: 0.185vh 0.833vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 4.722vh;
    background: #FFBE60;

    color: #0B0B0F;
    text-align: center;
    font-family: Benzin-Regular;
    font-size: 1.111vh;
    font-style: normal;
    font-weight: 400;
    line-height: 1.204vh; /* 108.333% */
}

.arrowIcon {
    width: 5.278vh;
    height: 1.296vh;
}

.benefitsTextDescription {
    max-width: 33.981vh;
    width: 100%;
    color: #7E8285;
    font-family: Benzin-Regular;
    font-size: 1.204vh;
    font-style: normal;
    font-weight: 400;
    line-height: 1.852vh; /* 153.846% */
}

.subscriptionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3.889vh;
}

.subscriptionContainer {
    display: flex;
    padding: 2.963vh;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 2.87vh;
    border-radius: 2.222vh;
    background: #303030;
    box-shadow: -2.222vh 2.778vh 11.204vh 2.778vh rgba(48, 48, 48, 0.29);
}

.subscriptionHeader {
    display: flex;
    align-items: center;
    gap: 1.204vh;
    align-self: stretch;
}

.subscriptionHeaderText {
    text-align: center;
    font-family: Benzin-Semibold;
    font-size: 2.037vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: nowrap;
}

.popular {
    display: flex;
    padding: 0.37vh 0.556vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    gap: 0.926vh;
    border-radius: 0.556vh;
    background: rgba(255, 255, 255, 0.10);
}

.popularText {
    color: #FFF;
    font-family: Benzin-Regular;
    font-size: 1.111vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.crownIcon {
    display: flex;
    width: 1.759vh;
    height: 1.667vh;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.463vh;
    align-self: stretch;
}

.priceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: -0.926vh;
    align-self: stretch;
}

.priceText {
    color: #FFF;
    font-family: Benzin-Regular;
    font-size: 3.704vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.481vh; /* 175% */
}

.priceAround {
    color: #7E8285;
    font-family: Benzin-Regular;
    font-size: 1.111vh;
    font-style: normal;
    font-weight: 400;
    line-height: 2.222vh; /* 200% */
}

.priceDescription {
    max-width: 21.296vh;
    width: 100%;
    color: #FFF;
    font-family: Benzin-Regular;
    font-size: 1.296vh;
    font-style: normal;
    font-weight: 400;
    line-height: 1.944vh; /* 150% */
}

.advantages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.111vh;
}

.advantage {
    display: flex;
    padding: 0.463vh 1.019vh;
    flex-direction: row;
    align-items: center;
    gap: 0.833vh;
    border-radius: 0.741vh;
    border: 0.093vh solid rgba(255, 255, 255, 0.07);
    box-sizing: border-box;
}

.checkIcon {
    display: flex;
    width: 1.481vh;
    height: 1.111vh;
}

.advantageText {
    color: #FFF;
    font-family: Benzin-Regular;
    font-size: 1.111vh;
    font-style: normal;
    font-weight: 400;
    line-height: 1.944vh; /* 175% */
    text-wrap: nowrap;
}

.subscriptionButton {
    display: flex;
    height: 4.352vh;
    padding: 0.926vh 5.648vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 1.111vh;
    background: #FFF;
    cursor: pointer;
}

.subscriptionButton:hover {
    background: #BBBBBB;
}

.subscriptionButton:active {
    background: #E0E0E0;
}

.subscriptionButtonLabel {
    color: #000;
    text-align: center;
    font-family: Benzin-Medium;
    font-size: 1.296vh;
    font-style: normal;
    font-weight: 400;
    line-height: 1.667vh; /* 128.571% */
    text-wrap: nowrap;
}

.aboutInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.889vh;
    align-self: stretch;
}

.aboutInfoContainer {
    display: flex;
    padding: 1.389vh 2.778vh;
    justify-content: center;
    align-items: center;
    gap: 2.778vh;
    align-self: stretch;
    border-radius: 2.222vh;
    border: 0.093vh dashed rgba(101, 101, 101, 0.50);
    background: rgba(67, 67, 67, 0.40);
    backdrop-filter: blur(2.778vh);
    box-sizing: border-box;
    flex: 1 0 0;
}

.aboutInfoIcon {
    width: 8.704vh;
    height: 8.241vh;
}

.aboutInfoText {
    width: 100%;
    flex: 1 0 0;
    color: rgba(255, 255, 255, 0.80);
    font-family: Benzin-Regular;
    font-size: 1.111vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.modalContent {
    display: flex;
    margin: 0 auto;
    padding: 0.926vh;
    justify-content: center;
    transform: translateY(30%);
    box-sizing: border-box;
    max-width: 64.815vh;
    width: 100%;
    height: 23.611vh;
    border-radius: 2.778vh;
    background: #303030;
    position: relative;
}

.modalText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modalTitle {
    color: #FFF;
    text-align: center;
    font-family: Benzin-Regular;
    font-size: 2.222vh;
    font-style: normal;
    font-weight: 400;
    line-height: 3.704vh; /* 166.667% */
}

.modalText input {
    max-width: 32.407vh;
    width: 100%;
    height: 4.167vh;
}

.modalInput {
    display: flex;
    justify-content: space-around;
}

.close {
    color: #ffffff;
    font-size: 4vh;
    height: 4vh;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 105%;
}

.close:hover {
    color: #BBBBBB;
}

.close:active {
    color: #E0E0E0;
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


footer {
    background: #000;
    display: flex;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.074vh;
    padding: 7.407vh 0;
}

.footerHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.footerHeaderAppInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.926vh;
}

.footerHeaderAppInfoText {
    max-width: 17.963vh;
    width: 100%;
    color: #7E8285;
    font-family: Benzin-Regular;
    font-size: 1.296vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footerHeaderDesignLabel {
    width: 10vh;
    height: 1.667vh;
    opacity: 0.5;
}

.footerNav {
    display: flex;
    width: 74.444vh;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footerNavContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.926vh;
}

.footerNavLabel {
    color: #FFF;
    text-align: center;
    font-family: Benzin-Medium;
    font-size: 1.204vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footerNavContent {
    color: #B7B7B7;
    text-align: center;
    font-family: Benzin-Regular;
    font-size: 1.204vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.footerNavContent:hover {
    color: #747474;
}

.footerNavContent:active {
    color: #999999;
}

.contactUs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.463vh;
    align-self: stretch;
}

.contactUsLabel {
    color: #B7B7B7;
    text-align: center;
    font-family: Benzin-Regular;
    font-size: 1.111vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contactUsEmail {
    color: #FFF;
    text-align: center;
    font-family: Benzin-Regular;
    font-size: 1.111vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.contactUsEmail:hover {
    color: #BBBBBB;
}

.contactUsEmail:active {
    color: #E0E0E0;
}

.footerLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.textLinks {
    display: flex;
    align-items: flex-start;
    gap: 2.778vh;
}

.textLink {
    color: #7E8285;
    text-align: center;
    font-family: Benzin-Regular;
    font-size: 0.926vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (width < 1650px) {
    .firstScreen {
        display: none !important;
    }
}

@media screen and (width < 1300px){
    nav, .policeTapeSecond, .policeTapeFirst, .particles  {
        display: none !important;
    }

    header {
        height: 4.63vh;
    }
}

@media screen and (width < 1200px) {
    .secondScreen, .leftLaurel, .rightLaurel {
        display: none !important;
    }

    .reviewsContainerWrapper {
        grid-template-columns: 1fr;
    }

    .subscriptionsContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (width < 1000px) {
    .footerNav {
        display: none !important;
    }

    .aboutInfo {
        flex-direction: column;
    }

    .footerHeader, .contactUs {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (width < 800px) {
    .links, .footerLinks {
        display: none !important;
    }

    header {
     justify-content: center;
    }

    .close {
        top: 105%;
        left: 50%;
    }
}

@media screen and (width < 650px) {
    .subscriptionsContainer {
        grid-template-columns: 1fr;
    }
}